/*
CSS style sheet for Gui.py
*/

/* Sets the style of the whole window */
QWidget{
    background-color: rgb(211, 211, 211); 
    font-size: 16px;
    color: rgb(0, 0, 0)
}

QLabel{
    background-color: rgb(160, 191, 211);
    border: 2px solid rgb(0, 0, 0);
}

QMenuBar{
    background-color:rgb(163, 163, 163)
} 

QMenu{
    background-color:rgb(211, 211, 211);
} 

/* This can be used for individual elements 
QMenuBar:hover{
    background-color: yellow;
} */
