QWidget{
    background-color: rgb(255, 255, 255); 
    font-size: 16px;
    color: rgb(0, 0, 0)
}

QMenuBar{
    background-color:rgb(221, 221, 221)
} 

QMenu{
    background-color:rgb(221, 221, 221)
} 

QPushButton{
    font-size: 18px;
}