QWidget{
    background-color: rgb(233, 233, 233); 
    font-size: 16px;
    color: rgb(0, 0, 0)
}

QMenuBar{
    background-color:rgb(221, 221, 221)
} 

QMenu{
    background-color:rgb(221, 221, 221)
} 

QPushButton{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: rgb(177, 212, 177)
}

QPushButton::pressed{
    background-color: rgb(209, 241, 209)
}
